PRODUCT_NAME="Packman"
AVAILABLE_ENVS="debian:8,centos:7,centos:6"
COMMON_LICENSES="apache,artistic,bsd,gpl,gpl2,gpl3,lgpl,lgpl2,lgpl3,mit,agpl3"
PACKMAN_BASE_GIT_REPO="git@github.com:packdaddy"
PACKMAN_HOME=/home/packman
PACKMAN_API_ENDPOINT="https://api.packdaddy.io/mainController.php"
PACKMAN_LOG_DIR=/var/log/packman
PACKMAN_TMP_DIR=/var/tmp/packman
PACKMAN_API_ID=""
PACKMAN_API_KEY=""
DEB=1
RPM=2
NPM=3
. /usr/bin/colors.rc

